{% assign has_footer = false %}
{% if settings.column-1-blog != blank or settings.column-1-menu != blank or settings.column-1-text != blank %}{% assign has_footer = true %}{% endif %}
{% if settings.column-2-blog != blank or settings.column-2-menu != blank or settings.column-2-text != blank %}{% assign has_footer = true %}{% endif %}
{% if settings.column-3-blog != blank or settings.column-3-menu != blank or settings.column-3-text != blank %}{% assign has_footer = true %}{% endif %}
{% if settings.column-4-blog != blank or settings.column-4-menu != blank or settings.column-4-text != blank %}{% assign has_footer = true %}{% endif %}
{% if settings.newsletter-signup-placement contains 'footer-column' %}{% assign has_footer = true %}{% endif %}
{% if settings.social-footer-column-4 or settings.social-footer-column-2 or settings.social-footer-column-3 or settings.social-footer-column-4 and has_social %}{% assign has_footer = true %}{% endif %}