{% include 'bold-product' with product, hide_action: 'break', output: 'none' %}
{% capture poa-tag %}
{% assign price_is_poa = false %}
{% for tag in __poa-tag.tags %}
  {% if tag contains 'POA' or tag contains 'poa' %}
    {% assign price_is_poa = true %}
  {% endif %}
{% endfor %}
{% endcapture %}