{% include 'bold-product' with product, hide_action: 'break', output: 'none' %}
<h2 class="auction-title">LIVE AUCTION, BID NOW!</h2>
{% unless customer %}
  <p class="auction-needs-login">YOU MUST BE LOGGED IN TO BID. PLEASE <strong><a href="/account/login">CLICK HERE</a></strong> TO LOG IN.</p>
{% endunless %}

{% if auction %}
  {% unless customer %}
  <h4 class="register-alert">Auctions are only available to registered users. <i class="fa fa-level-down" aria-hidden="true"></i><br /><small>Please <a style="text-decoration: underline;" href="/account/login">login</a> or <a style="text-decoration: underline;" href="/account/register">register</a> with the form below</small></h4>
  {% endunless %}
{% endif %}


<div class="{% unless customer %}not-loggedin{% endunless %}" id="wk-auction" prod-id="{{ product.id }}" cust-id="{{ customer.id }}"></div>       

{% if auction %}
  {% unless customer %}
    <h4 class="register-alert-form">Please register before placing a bid<br /><small>Already have an account? <a style="text-decoration: underline;" href="/account/login">Login</a></small></h4>

    <ul class="nav nav-tabs">
      <li class="active"><a href="#register">Register</a></li>
      <li><a href="#login">Login</a></li>
    </ul>      

    <div class="tab-content">
      <div id="register" class="tab-pane fade in active">
        <h3>Register</h3>
        {% include '_form-register' %}
      </div>
      <div id="login" class="tab-pane fade">
        <h3>Login</h3>
        {% include '_form-login' %}
      </div>
    </div>                   
  {% endunless %}
{% endif %}

