<!-- {% include 'customr' %} -->

<!-- id:	 {{ customer.id }} -->
<form id="customr-form" action="{{ customr_url }}/customers/{% if token %}{{ customer.id }}{% endif %}" method="post">
  {% if token %}
    <input type="hidden" name="_method" value="patch">
    <input type="hidden" name="auth_token" value="{{ token }}">
    <input type="hidden" name="customer[id]" value="{{ customer.id }}">
  {% endif %}
  <input type="hidden" name="shop" value="{{ shop.permanent_domain }}">

  <!-- Loop through each field -->
  {% for field in customer.metafields.customr %}
    {% assign key = field[0] %}
    {% assign key_capitalized = field[0] | replace: "_", " " | capitalize %}
    {% assign value = field[1] %}
    <!--   hidden input according to customr documentation   -->
    <input type="hidden" name="customer[{{ key }}]">

    <div class="form-group">
      <label for="customr-form" class="{% include '__form-horizontal-label' %} control-label">{{ key_capitalized }}</label>
      <div class="{% include '__form-horizontal-input' %}">
        <input type="text" id="customr_{{ key }}" class="form-control" name="customer[{{ key }}]" placeholder="{{ key_capitalized }}" value="{{ value }}"></input>
      </div>
    </div>
  
  {% endfor %}
  
  <div class="customr-actionable">
    <input type="submit" value="{{ submit_button }}" class="btn btn-primary">
  </div>

</form>	

