<footer id="footer-content" class="footer">
  

  
    <div class="footer-contact hidden-xs visible-sm visible-md visible-lg visible-xl">
      Questions? Call <strong>{{ settings.footer-phone }}</strong>
    </div>
    
    {% if has_footer %}      
    {% assign cols = '' %}
    {% for i in (i..4) %}
    {% assign c = i | plus: 1 %}
    {% assign col = 'column-' | append: c %}
    {% assign col_blog = col | append: '-blog' %}
    {% assign col_menu = col | append: '-menu' %}
    {% assign col_text = col | append: '-text' %}

    {% if settings[col_blog] != blank or settings[col_menu] != blank or settings[col_text] != blank or settings.newsletter-signup-placement contains col or settings.social-footer-column-1 or settings.social-footer-column-2 or settings.social-footer-column-3 or settings.social-footer-column-4 or settings.social-footer-column-5 %}
    {% assign cols = cols | append: col | append: '|' %}
    {% endif %}
    {% endfor %}
    {% assign footer_columns = cols | split: '|' %}

    <div class="container">
      <div class="row">
        {% for footer_column in footer_columns %}
        {% include 'footer-column-loop' %}
        {% endfor %}
      </div>
      {% endif %}

      {% comment %}
        {% capture onelive_logo_src %}{{ settings.onelive-logo-color | prepend: 'onelive-' | append: '.png' }}{% endcapture %}   
        <p class="onelive">
          <a href="http://www.onelivemedia.com" target="_blank">
            <img src="{{ onelive_logo_src | asset_url }}" alt="ONELIVE" class="img-responsive center-block" />
          </a>
        </p>
      {% endcomment %}  

    {% if has_footer_navbar %}{% include 'navbar' with 'footer' %}{% endif %}
  </div>

  <p class="text-center footer-credits">
    <small>
      &copy;{{ 'now' | date: '%Y' }}&nbsp;
      <a href="http://www.maingateinc.com/">MAINGATE INC.</a> <em> All Rights Reserved. No portion of this site may be reproduced or duplicated without the express permission of <a href="http://www.maingateinc.com/">MainGate Inc.</a></em>
    </small>
  </p>
  
</footer>