{% assign submenu = l.title | handleize %}
{% if linklists[submenu].links.size > 0 %}
<li class="{% if l.active %}active{% endif %} dropdown link-{{ l.title | handleize }}">
  <a href="{{ l.url }}" title="{{ l.title }}" class="dropdown-toggle" data-toggle="">
    {{ l.title }}
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu">
    {% for l in linklists[submenu].links %}
      {% include 'navbar-sub-links' %}
    {% endfor %}
  </ul>
</li>
{% else %}
<li class="{% if l.active %}active{% endif %} link-{{ l.title | handleize }}">
  <a href="{{ l.url }}" title="{{ l.title | strip_html }}">{{ l.title }}</a>
</li>
{% endif %}
