{% assign linklist_parts = navbar-nav | split: '-' %}
{% assign linklist_name = linklist_parts[0] | append: '-navbar-linklist-' | append: linklist_parts[1] %}
{% assign linklist_setting = settings[linklist_name] %}

{% if linklist_setting or has_cart %}
<ul class="nav navbar-nav {% unless settings.logo-placement == 'top-navbar' and linklist_parts[0] == 'top' %}navbar-{{ linklist_parts[1] }}{% endunless %}">
  {% for l in linklists[linklist_setting].links %}
  {% include 'navbar-link' %}
  {% endfor %}
  
  {% if navbar-nav == 'top-right' %}
  {% if shop.customer_accounts_enabled %}
  <li class="dropdown hidden-xs{% if template contains 'customers' %} active{% endif %}">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
    <ul class="dropdown-menu">
      {% if customer %}
      <li><a href="/account">Welcome, {{ customer.first_name }}!</a></li>
      <li>{% capture logout %}{% include '__localize' with 'Log out' %}{% endcapture %}{{ logout | customer_logout_link }}</li>
      {% else %}
      <li>{% capture register %}{% include '__localize' with 'Register' %}{% endcapture %}{{ register | customer_register_link }}</li>
      <li>{% capture login %}{% include '__localize' with 'Log in' %}{% endcapture %}{{ login | customer_login_link }}</li>
      {% endif %}
    </ul>
  </li>
  {% endif %}
  {% if has_cart %}
	{% if settings.ajax-cart %}
	  <li class="dropdown hidden-xs{% if template == 'cart' %} active{% endif %}">
		<a class="cartCount" href="/cart" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-shopping-cart"></i> <span class="badge">{{ cart.item_count }}</span> <span class="caret"></span></a>     
		<ul class="cart-dropdown dropdown-menu" role="menu">
			<li class="divider"></li>
            <li class="cart-btns text-center">
            	<a href="/cart" class="btn btn-primary ajax-cart-btn ajax-cart-view-btn">View Cart</a><a href="/checkout" class="btn btn-main ajax-cart-btn ajax-cart-checkout-btn">Checkout</a>
            </li>
		</ul>
	  </li>		
	{% else %}
	  <li class="hidden-xs{% if template == 'cart' %} active{% endif %}">
		<a href="/cart"><i class="fa fa-shopping-cart"></i>{% if cart.item_count > 0 %} <span class="badge cartCount">{{ cart.item_count }}</span>{% endif %}</a>
	  </li>	
	{% endif %}
  {% endif %}
  {% endif %}
</ul>
{% endif %}

{% assign placement = linklist_parts[0] | append: '-navbar-' | append: linklist_parts[1] %}

{% if settings.newsletter-signup-placement == placement %}
{% assign form-placement = 'navbar-' | append: linklist_parts[1] %}
  {% include 'newsletter-signup-form' with form-placement %}
{% endif %}

{% assign social_nav_placement = 'social-' | append: placement %}

{% if has_social and settings[social_nav_placement] %}
<div class="nav navbar-text navbar-{{ linklist_parts[1] }} social-icons">
  {% include 'social-links' %}
</div>
{% endif %}


{% if placement == 'footer-navbar-right' and settings.currency-switcher-position == 'footer-navbar' %}
  {% include 'currency-switcher' %}
{% endif %}