{% comment %}NAVBAR-MENU.LIQUID{% endcomment %}

{% assign linklist_parts = navbar-menu | split: '-' %}
{% assign linklist_name = linklist_parts[0] | append: '-navbar-linklist-' | append: linklist_parts[1] %}
{% assign linklist_setting = settings[linklist_name] %}

{% if linklist_setting or has_cart %}
<ul class="nav navbar-nav navbar-{{ linklist_parts[1] }}">
  {% for l in linklists[linklist_setting].links %}
    {% include 'navbar-link' %}
  {% endfor %}

  
  {% if navbar-menu == 'top-right' %}
    {% if settings.search-placement == 'top-navbar' %}
      <li>{% include 'search-form' %}</li>
    {% endif %}
    {% if has_cart %}
		{% if settings.ajax-cart %}
      <li class="dropdown hidden-xs{% if template == 'cart' %} active{% endif %}">
        <a class="cartCount" href="/cart" data-toggle="dropdown" role="button" aria-expanded="false"><!--<i class="fa fa-shopping-cart"></i>--> <img class="icon-nav icon-cart" src="{{ 'icon-cart.png' | asset_url }}"><span class="badge">{{ cart.item_count }}</span><!--<span class="badge"></span><span class="caret"></span>--></a>     
        <ul class="cart-dropdown dropdown-menu" role="menu">
          <li class="divider"></li>
          <li class="cart-btns text-center">
            <a href="/cart" class="btn btn-primary ajax-cart-btn ajax-cart-view-btn">View Cart</a><a href="/checkout" class="btn btn-main ajax-cart-btn ajax-cart-checkout-btn">Checkout</a>
          </li>
        </ul>
      </li>
    {% else %}
      <li class="hidden-xs{% if template == 'cart' %} active{% endif %}">
        <a class="cartCount" href="/cart"><i class="fa fa-shopping-cart"></i>{% if cart.item_count > 0 %} <span class="badge">{{ cart.item_count }}</span>{% endif %}</a>
      </li>		   
		{% endif %}
    {% endif %}

    {% if shop.customer_accounts_enabled %}
      <li class="dropdown hidden-xs{% if template contains 'customers' %} active{% endif %}">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><!--<i class="fa fa-user"></i>--><img class="icon-nav icon-account" src="{{ 'icon-account.png' | asset_url }}"> </a>
        <ul class="dropdown-menu">
          {% if customer %}
          <li><a href="/account">{{ 'customer-accounts.navbar-welcome-note' | t: first_name: customer.first_name }}</a></li>
          <li>{{ 'customer-accounts.sign-out' | t | customer_logout_link }}</li>
          {% else %}
          <li>{{ 'customer-accounts.sign-in' | t | customer_login_link }}</li>        
          <li>{{ 'customer-accounts.register' | t | customer_register_link }}</li>
          {% endif %}
        </ul>
      </li>     
    {% endif %}  
      
    {% if settings.currency-switcher-position == 'top-navbar' %}
      {% include 'currency-switcher' %}
    {% endif %}

  {% elsif navbar-menu == 'footer-right' %}
    {% if settings.currency-switcher-position == 'footer-navbar' %}
      {% include 'currency-switcher' %}
    {% endif %}
  {% endif %}

</ul>
{% endif %}

{% assign placement = linklist_parts[0] | append: '-navbar-' | append: linklist_parts[1] %}



{% if settings.newsletter-signup-placement == placement %}
{% assign form-placement = 'navbar-' | append: linklist_parts[1] %}
  {% include 'newsletter-signup-form' with form-placement %}
{% endif %}

{% assign social_nav_placement = 'social-' | append: placement %}

{% if has_social and settings[social_nav_placement] %}
<div class="nav navbar-text navbar-{{ linklist_parts[1] }} social-icons">
  {% include 'social-links' %}
</div>
{% endif %}