      <!-- Password reset -->

      <div class="recover-password">
      <h2>Reset Password</h2>
      <div class="form-row">
         <p> We will send you an email to reset your password. </p>
      </div>
        
      {% form 'recover_customer_password' %}
      {{ form.errors | default_errors }}

      <div class="form-row">
        <label for="email" class="large">Email Address</label>
        <input type="email" value="" size="30" name="email" id="recover-email" class="large" />
      </div>
      <div class="form-row recover-cancel">
        <input class="btn" type="submit" value="Submit" />
        or <a href="#" onclick="return false;">Cancel</a>
      </div>
      {% endform %}
      </div>
      <!-- End Password reset -->    