{% include 'bold-product' with product, hide_action: 'break', output: 'none' %}
{% capture badge_tag %}{% include '__localize' with 'badge' %}:{% endcapture %}
{% capture badges %}{% endcapture %}
{% for tag in product.tags %}
  {% if tag contains badge_tag %}
    
    {% assign file_types = '.png|.jpg|.gif' | spilt: '|' %}
    
    {% assign b = tag | remove: badge_tag %}
    {% if b.first == ' ' %}
      {% assign b = b | remove_first: ' ' %}
    {% endif %}
    {% for f_type in file_types %}
      {% if b contains f_type %}
        {% assign b = b | remove: f_type %}
        {% assign file_type = f_type %}
      {% endif %}
    {% endfor %}
    {% if b contains ' ' %}
      {% assign b = b | handleize %}
    {% endif %}
    
    {% capture badges %}
    	{{ badges }}
    	<div class="product-badge">
    	  <img src="{{ b | append: '_medium.png' | file_url }}" alt="{{ product.title }}" onerror="$(this).hide()"/>
    	  <img src="{{ b | append: '_medium.jpg' | file_url }}" alt="{{ product.title }}" onerror="$(this).hide()"/>
    	  <img src="{{ b | append: '_medium.gif' | file_url }}" alt="{{ product.title }}" onerror="$(this).hide()"/>
      </div>
      
      {% assign loop_mod = forloop.index | modulo: 4 %}
      {% if loop_mod == 0 %}
      </div><div class="product-badges">
      {% endif %}
      
    {% endcapture %}
  {% endif %}
{% endfor %}
{% unless badges == '' %}
<div class="product-badges">
  {{ badges }}
</div>
{% endunless %}