{% include 'bold-product' with product, hide_action: 'break', output: 'none' %}
<form class="wk_hide_element" id="{% include '__advanced-layout-id' with 'product-form' %}" action="/cart/add" method="post" role="form" enctype="multipart/form-data">
  <div class="product-variants">
    <div class="col-xs-12 col-lg-6">
      <select id="{% include '__advanced-layout-id' with 'product-select' %}" name="id" class="form-control input-lg">
        {% for v in product.variants %}
        <option value="{{ v.id }}"{% if v == product.selected_or_first_available_variant %} selected="selected"{% endif %}>{{ v.title }}</option>
        {% endfor %}
      </select>
    </div>
    {% if product.available and product.variants.size > 0 %} {% include 'panda-swatch' with 'Color' %} {% endif %}
    {% if product.metafields.properties.size > 0 %}
    <div class="col-xs-12 col-lg-6">
      {% for l_item in product.metafields.properties %}
      {% assign key = l_item.first | split: ':' %}
      {% assign key_type = key.last %}
      {% assign key_title = key.first %}
      {% assign value = l_item.last %}
      <div class="form-group">
        <label>{{ key_title }}</label>
        {% if key_type == 'select' %}
        {% assign value_array = value | split: ',' %}
        <select class="form-control" name="properties[{{ key_title }}]">
          {% for v in value_array %}
          <option value="{{ v }}">{{ v }}</option>
          {% endfor %}
        </select>
        {% elsif key_type == 'text' %}
        <input type="text" class="form-control" name="properties[{{ key_title }}]" placeholder="{{ value }}" />
        {% elsif key_type == 'checkbox' %}
        <p><input type="checkbox" name="properties[{{ key_title }}]" value="{{ value }}" />&nbsp;{{ value }}</p>
        {% elsif key_type == 'file' %}
        <p><input type="file" id="{{ key_title }}" name="properties[{{ key_title }}]">&nbsp;<small><em>{{ value }}</em></small></p>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  {% if product.template_suffix == 'quantity-limit-1' %}
  {% assign product_max_qty = 1 %}
  {% for line_item in cart.items %}
  {% if product.id == line_item.product_id %}
  {% assign disable_btn = true %}
  {% endif %}
  {% endfor %}
  {% elsif product.template_suffix == 'quantity-limit-2' %}
  {% assign product_max_qty = 2 %}
  {% for line_item in cart.items %}
  {% if product.id == line_item.product_id %}
  {% assign disable_btn = true %}
  {% endif %}
  {% endfor %}
  {% elsif product.template_suffix == 'quantity-limit-3' %}
  {% assign product_max_qty = 3 %}
  {% for line_item in cart.items %}
  {% if product.id == line_item.product_id %}
  {% assign disable_btn = true %}
  {% endif %}
  {% endfor %}
  {% elsif product.template_suffix == 'quantity-limit-4' %}
  {% assign product_max_qty = 4 %}
  {% for line_item in cart.items %}
  {% if product.id == line_item.product_id %}
  {% assign disable_btn = true %}
  {% endif %}
  {% endfor %}
  {% elsif product.template_suffix == 'quantity-limit' %}
  {% assign product_max_qty = settings.product-max-quantity  %}
  {% for line_item in cart.items %}
  {% if product.id == line_item.product_id %}
  {% assign disable_btn = true %}
  {% endif %}
  {% endfor %}
  {% endif %}
  <div class="row {% unless disable_btn == blank %} hidden{% endunless %}">

    <div class="col-md-12">
      <div id="infiniteoptions-container"></div>
    </div>

    <div class="col-sm-4 quantity-wrap">
      {% unless price_is_poa %}
      <div class="form-group">
  
        {% comment %}
            <a class="minus_btn"></a>
                <input class="form-control input-lg" type="number" id="quantity" placeholder="Quantity" name="quantity" value="1" min="0"{% if product_max_qty %} max="{{ product_max_qty }}"{% endif %} />
            <a class="plus_btn"></a>
        {% endcomment %}
        
       <div class="spinner" data-name="quantity" data-value="1" data-id="quantity"></div>

        {% include 'spinner-button' %}
        <script>
            console.log('spinner');
          $( window ).on( "load", function(){
            $('.spinner').bootnumberspiner({
                onChange:function(valueCurrent,spinner){
                  //console.log(valueCurrent);
                  //console.log(spinner);
                },
                onCreate:function(spinner){
                  //console.log(spinner.settings.value);
                } 
            });
          });
        </script>
      
      
      </div>
      {% endunless %}
    </div>
    <div class="col-sm-8 add-to-cart-button-wrap">
      {% unless price_is_poa %}
      <div class="form-group">
        {% if product.template_suffix == 'preorder' %}
        {% assign cart_label = 'Preorder' %}
        {% else %}
        {% assign cart_label = 'Add to cart' %}
        {% endif %}   
        <input type="submit" name="add" value="{% include '__localize' with cart_label %}" id="purchase" class="btn-main purchase-btn {% if product.template_suffix == 'preorder' %}preorder-btn{% endif %}" />
      </div>
      {% endunless %}
      {% if settings.secondary-call-to-action-url != blank %}
      <p class="secondary-call-to-action"><br><em>{% include '__localize' with settings.secondary-call-to-action-text %}</em><br><a href="{{ settings.secondary-call-to-action-url }}?title={{ product.title | replace: ' ', '%20' }}&handle={{ product.handle }}"><strong>{% include '__localize' with settings.secondary-call-to-action-link-text %}</strong></a></p>
      {% endif %}

      {% if settings.show-social-share-links %}
      <div class="share-icons">
        {% capture tweet %}https://twitter.com/intent/tweet?text={% include '__localize' with 'Check out' %} {{ page_title }}—{{ canonical_url }}{% unless settings.social-links-twitter == blank %} (via @{{ settings.social-links-twitter | split: '/' | last }}){% endunless %}{% endcapture %}
        {% capture email_subject %}{% include '__localize' with 'Check out' %} {{ page_title }}{% endcapture %}
        {% capture email_body %}{% include '__localize' with 'Hey' %}, {% include '__localize' with 'I was just looking at' %} {{ page_title }} {% include '__localize' with 'on' %} {{ shop.name }} {% include '__localize' with 'and wanted to share it with you' %}. {% include '__localize' with 'Check out' %} {{ canonical_url }}{% endcapture %}
        Share: 
        <a href="{{ tweet | replace: ' ','%20' }}" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
        <a href="https://www.facebook.com/sharer/sharer.php?u={{ canonical_url }}" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
        <a href="http://pinterest.com/pin/create/button/?url={{ canonical_url }}&media={{ product.featured_image.src | product_img_url: '2048x2048' }}&description={{ page_title | replace: ' ','%20' }}" target="_blank"><i class="fa fa-pinterest fa-fw"></i></a>
        <a href="mailto:?subject={{ email_subject | replace: ' ','%20' }}&body={{ email_body }}" target="_blank"><i class="fa fa-envelope fa-fw"></i></a>
      </div>
      {% endif %}

      <!-- Bold: Loyalty Points - Step 4.2 -->
      <div class="bold-loyalties-redeem"></div>
      <!-- // end bold code -->

    </div>
  </div>
</form>

{% if settings.show-notify-me %}
<div class="row notify-me-wrapper">
  <div class="col-xs-12">
    {% form 'contact' %}
    <div class="notify-me-form well">
      <h3>{{ product.title }} is unavailable</h3>
      <p>{% include '__localize' with 'Leave your email address if you would like to be notified when it becomes&nbsp;available.' %}</p>
      <div class="alert" style="display: none"></div>
      <div class="form-group">
        <input type="hidden" name="contact[body]" value="Please notify me when {{ product.title | escape }} becomes available." />
        <div class="input-group">
          <input class="form-control input-lg{% if form.errors contains 'email' %} error{% endif %}" id="{% include '__advanced-layout-id' with 'notify-input' %}" required="required" type="email" name="contact[email]" placeholder="your@email.com" value="{{ contact.fields.email }}" />
          <span class="input-group-btn">
            <input class="btn btn-primary btn-lg" type="submit" value="{% include '__localize' with 'Notify me' %}" >
          </span>
        </div>
      </div>
    </div>
    {% endform %}
  </div>
</div>
<hr>
{% endif %}

<script>
  jQuery(function() {
    // option selectors extended with boostrap markup and link options
    new Shopify.BootstrapifyOptionSelectors("{% include '__advanced-layout-id' with 'product-select' %}", { product: {{ product | json }}, onVariantSelected: selectCallback, enableHistoryState: true{% unless settings.show-unavailable-products %}, linkOptions: true {% endunless %}});
    

      {% for option in product.options %}
        // $('.single-option-selector:eq({{ forloop.index0 }})').prepend('<option value="">Pick a {{ product.options[forloop.index0] }}</option>').val('').trigger('change');    

        $('.single-option-selector:eq({{ forloop.index0 }})').prepend('<option value="">{{ product.options[forloop.index0] }}</option>').val('');    
      {% endfor %}

    
    {% if product.template_suffix == 'quantity-limit' %}
    $('.purchase-btn').on('click', function() {
      $('#product-form .row').hide();
    });
    {% endif %}   
    
  });
  
  
</script>