<div class="modal fade" id="quick_shop_modal" tabindex="-1" role="dialog" aria-labelledby="quick_shop_modal_label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="quick_shop_modal_label"></h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-6">
						<div id="quick-shop-img">
							<div class="thumbnail">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div id="quick-shop-desc"></div>
						<div id="quick-shop-price"></div>
					</div>					
				</div>
			</div>
			<div class="modal-footer">
				<form action="/cart/add" method="post" id="quick-shop-product-form" enctype="multipart/form-data">
					<div class="row">
						<div class="col-sm-6">
							<div class="form-group">
								<div id="quick-shop-variants-wrapper"></div>
							</div>
						</div>
						<div class="col-sm-6 quantity-wrap">
							<div class="form-group">
								<input class="form-control input-lg" type="number" id="quantity" placeholder="Quantity" name="quantity" value="1" min="0">
							</div>
						</div>						
					</div>
						<div class="form-group">    		  
							<input type="submit" name="add" value="Add to cart" id="purchase" class="btn-main purchase-btn btn-primary btn-block">
						</div>  
					</div>
				</form>
			</div>
		</div>
	</div>
</div>    