{% if has_sidebar %}
  {% if settings[sidebar_template] %}
    <aside class="sidebar {% include '__sidebar-span' %}">
      <div class="sidebar-content">
        {% if settings.logo-placement == 'sidebar' %}<div class="hidden-xs">{% include 'brand' %}</div>{% endif %}

        {% if settings.search-placement == 'sidebar' %}
          {% include 'search-form' %}
        {% endif %}
          
        {% if settings.tag-placement == 'sidebar' and template contains 'collection' %}
        <h3>{{ 'navigation.tags.sidebar-tag-filter-title' | t }}</h3>
        {% include 'tag-buttons' %}
        {% endif %}
        
        {% unless linklists[settings.sidebar-linklist] == empty %}
        	{% assign s_linklist = settings.sidebar-linklist %}
        	{% if collection.metafields.sidebar.linklist != blank %}
        	{% assign s_linklist = collection.metafields.sidebar.linklist %}
        	{% endif %}
          <h3>{{ linklists[s_linklist].title }}</h3>
          {% include 'sidebar-nav' with linklists[s_linklist] %}
        {% endunless %}
        
        {% unless linklists[settings.sidebar-items-linklist] == empty %}
          <h3>{{ linklists[settings.sidebar-items-linklist].title }}</h3>
          {% assign thumbnails_disabled = true %}
          {% for i in linklists[settings.sidebar-items-linklist].links %}
            {% if i.object.products.size > 0 %}
              {% include 'collection-loop' with i.object %}
            {% endif %}
            {% if i.object.price > 0 %}
              {% include 'product-loop' with i.object %}
            {% endif %}
          {% endfor %}
          {% assign thumbnails_disabled = nil %}
        {% endunless %}
        
        {% if template == 'blog' or template == 'article' %}
          <h3>{{ 'blog.sidebar-blog-list-title' | t }}</h3>
          {% for a in blog.articles limit:settings.blog-list-limit %}
            {% include 'article-excerpt' %}
          {% endfor %}
        {% endif %}
      
        {% unless blogs[settings.sidebar-blog] == empty %}
          <h3>{{ blogs[settings.sidebar-blog].title }}</h3>
          {% for a in blogs[settings.sidebar-blog].articles limit:settings.blog-list-limit %}
          <h5>{{ a.title | link_to: a.url, a.title }} <small class="text-muted help-block">{{ a.published_at | date: format: 'short-date' }}</small></h5>
          {% endfor %}
        {% endunless %}
		
		{% for i in (1..3) %}
			{% capture widget_title %}sidebar_widget_{{i}}_title{% endcapture %}
			{% capture widget_content %}sidebar_widget_{{i}}_content{% endcapture %}

			{% unless settings[widget_title] == empty or settings[widget_content] == empty %}
				<!-- Widget {{i}} -->
				<div class="sidebar-widget sidebar-widget-{{i}}">
					<h3>{{ settings[widget_title] }}</h3>
					<div class="sidebar-content">
					{{ settings[widget_content] }}
					</div>
				</div>
			{% endunless %}
		{% endfor %}
        
        {% if settings.newsletter-signup-placement == 'sidebar' %}
          {% include 'newsletter-signup-form' %}
        {% endif %}
                
        {% if settings.social-sidebar %}
          <hr>
          {% include 'social-links' with 'lg' %}
        {% endif %}

      </div>
    </aside>
  {% endif %}
{% endif %}