{% include 'bold-product' with product, hide_action: 'break', output: 'none' %}
{% assign vend = product.vendor | handleize %}


{% if vend == 'mj-garage' %}
  {{ pages.sc_MJ-garage.content }}
{% elsif vend == 'mj-varsity' %}
  {{ pages.sc_MJ-varsity.content }}
{% elsif vend == 'mg-mg' %}
  {{ pages.sc_generic-MG.content }}
{% elsif vend == 'mg-yt' %}
  {{ pages.sc_generic-YT.content }}
{% elsif vend == 'mg-ls' %}
  {{ pages.sc_generic-ls.content }}
{% elsif vend == 'mg-mt' %}
  {{ pages.sc_generic-mt.content }}
{% elsif vend == 'mg-ys' %}
  {{ pages.sc_generic-ys.content }}
{% elsif vend == 'mg-ms' %}
  {{ pages.sc_MS-gildan.content }}
{% elsif vend == 'ladies-classic' %}
  {{ pages.sc_ladies-classic.content }}
{% elsif vend == 'ladies-junior' %}
  {{ pages.sc_ladies-junior.content }}
{% elsif vend == 'ladies-relaxed' %}
  {{ pages.sc_ladies-relaxed.content }}
{% elsif vend == 'ladies-semi-fitted' %}
  {{ pages.sc_ladies-semi-fitted.content }}
{% elsif vend == 'mg-lw' %}
  {{ pages.sc_generic-LW.content }}
{% elsif vend == 'mg-mw' %}
  {{ pages.sc_generic-MW.content }}      
{% else %}
  <style>
    .panel_size-chart {
        display: none;
    }    
  </style>
{% endif %}


{% comment %}
  <h4>List of all vendors for reference in dev - comment out for production</h4>
  {% for vendor in shop.vendors %}
    <li>{{ vendor | handleize | link_to_vendor }}</li>
  {% endfor %}
{% endcomment %}