{% include 'bold-product' with product, hide_action: 'break', output: 'none' %}
{% assign page_hashtag = '' %}
{% if social-feed-instagram.metafields.social-feed.instagram != blank %}
{% assign page_hashtag = social-feed-instagram.metafields.social-feed.instagram %}
{% endif %}

{% if settings.instagram-feed and settings.instagram-client-id != blank %}
<section id="instagram-widget" class="section-wrap" data-client-id="{{ settings.instagram-client-id }}" data-hashtag="{{ page_hashtag }}" data-default-hashtag="{{ settings.instagram-default-hashtag }}" data-blacklist="{{ settings.instagram-blacklist }}" data-image-count="8">
	{% include '__containers-open' %}
		{% if template != "article" %}
		<h2 class="page-header">Instagram</h2>
		<p>Tag your photos using #<span class="hashtag">{{ settings.instagram-default-hashtag }}</span> to be seen on {% if settings.social-links-instagram != blank %}<a href="{{ settings.social-links-instagram }}">our feed</a>{% else %}our feed{% endif %}.</p>
		{% endif %}
		<div class="instagram-images row"></div>
	{% include '__containers-close' %}
</section>
{% endif %}