{% raw  %}
<script id="saso-cross-sell-popup" type="text/x-handlebars-template">
<div class="saso-cross-sell-popup">
    <span class="saso-notifications-message">{{{notifications_message}}}</span>
    <br>

	<table><tr>
    {{#products}}    
    <td class="saso-product-container" data-product-id="{{id}}" data-variant-id="{{variants.0.id}}">
        <div class="saso-image"><a href="/products/{{handle}}" class="saso-crosssell-nav" data-product-id="{{id}}"><img src="{{image.src}}" /></a></div>
        <div class="saso-title">{{{title}}}</div>        
        <div class="saso-variants-container" style="{{{variants_style}}}">{{{variants_select}}}</div>
        <span class="saso-price">{{{variants.0.price}}}</span>
        <span class="saso-was-price">{{{variants.0.compare_at_price}}}</span>
        <br>
        <button class="saso-add-to-cart saso-crosssell-nav" data-product-id="{{{id}}}" data-variant-id="{{{variants.0.id}}}">Add to Cart</button>
    </td>
    {{/products}}
    </tr></table>
    
    <div class="saso-hide-when-embedded">
      <br>
      <p><a href="#" class="saso-close">No thanks</a></p>
    </div>
  </div>

</script>


<script id="saso-volume-discount-tiers" type="text/x-handlebars-template">
<div class="saso-volume-discount-tiers">
    <h4>Buy more, Save more</h4>
	
	<table class="saso-table">
    	<thead>
			<tr>
            	<th>Minimum Qty</th>
                <th>Price per item</th>
            	<!--<th>&nbsp;</th>-->
  			</tr>
        </thead>
        
        <tbody>
        {{#tiers}}
    	<tr>
        	<td>{{{quantity}}}+</td>
        	<td>{{{price.title}}}</td>
            <!-- <td><a href="#" class="saso-add-to-cart" data-quantity="{{{quantity}}}">Add to Cart</a></td> -->
  		</tr>    
    	{{/tiers}}
        </tbody>
    </table>
</div>

</script>


<script id="saso-use-discount-instead" type="text/x-handlebars-template">
<div>
    <label style="font-weight: normal; cursor: pointer;"><input type="checkbox" id="saso-use-discount-code-instead-check"> I will be using a coupon instead</label>
</div>
</script>

{% endraw %}