{% comment %}template: top-promo-banner.liquid{% endcomment %}
{% if settings.enable-top-promo-banner %}
    <section class="pre-header">      
		<div class="hidden-xs visible-sm visible-md visible-lg col-sm-4 col-md-4 col-1 pre-official">
			<p class="official-store-slogan">
				Official Store of the <img class="nhra-logo" src="{{ "nhra-logo.png" | asset_url }}"> <a href="http://www.nhra.com/">NHRA.com</a>
			</p>
		</div>
		<div class="col-sm-8 col-md-8 col-2 pre-account">
			<div class="hidden-xs visible-sm visible-md visible-lg col-sm-4 col-md-6 col-lg-7 text-right">
				<p>
					<a href="/account/login">LOG IN</a> |
					<a href="/account/register">REGISTER</a>

					<!-- Bold: Loyalty Points - Step 2 -->
					{% include 'bold-loyalties-callout-nav' %}
					<!-- // end bold code -->
				</p>
			</div>
			<div class="col-sm-8 col-md-6 col-lg-5 pre-subscribe col-3">
				<p>
					{{ settings.top-promo-banner-text }}
					<a class="signup" href="{{ settings.top-promo-banner-link-link }}">{{ settings.top-promo-banner-link-text }}</a> 
				</p>
			</div>
		</div>      
    </section>
{% endif %}