<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">

    <title>{{ shop.name }} - {{ page_title }}</title>

    {{ content_for_header }}
    {{ checkout_stylesheets }}
    {{ 'checkoutv2.css' | asset_url | stylesheet_tag }}
    {{ 'jquery.min.js' | asset_url | script_tag }}
    {{ checkout_scripts }}

  </head>
  <body>
    {% unless settings.gtm-container-id == blank %}
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id={{ settings.gtm-container-id }}"
                      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                                                          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                                })(window,document,'script','dataLayer','{{ settings.gtm-container-id }}');</script>
    <!-- End Google Tag Manager -->      
    {% endunless %}  

    <div class="onelive-checkout-header">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            {{ content_for_banner }}
          </div>
          <div class="col-sm-6">
            <img src="{{ 'securecheckout-dark.png' | asset_url }}" alt="Secure Checkout" class="img-responsive onelive-secure" />
          </div>
        </div>
      </div>
    </div>
    <div class="onelive-checkout-layout">
      <div class="container">
        {{ content_for_layout }}
      </div>
    </div>
    <div class="onelive-checkout-footer">
      <div class="container">
        {{ content_for_footer }}
      </div>
    </div>

    {{ tracking_code }}

    {{ 'jquery.validate.min.js' | asset_url | script_tag }}
    <script type="text/javascript">
      $(document).ready(function() {
        $('input[name="checkout[shipping_address][first_name]"]').attr('maxlength', 20);
        $('input[name="checkout[shipping_address][last_name]"]').attr('maxlength', 20);
        $('input[name="checkout[shipping_address][company]"]').attr('maxlength', 40);
        $('input[name="checkout[shipping_address][address1]"]').attr('maxlength', 40);
        $('input[name="checkout[shipping_address][address2]"]').attr('maxlength', 40);
        $('input[name="checkout[shipping_address][city]"]').attr('maxlength', 30);
        /*$("form").validate({
          //errorClass: 'field__error-message',
          errorElement: 'p',
          rules: {
            "checkout[shipping_address][first_name]": {
              rangelength: [1, 20]
            },
            "checkout[shipping_address][last_name]": {
              rangelength: [1, 20]
            },
            "checkout[shipping_address][company]": {
              rangelength: [1, 40]
            },
            "checkout[shipping_address][address1]": {
              rangelength: [1, 40]
            },
            "checkout[shipping_address][address2]": {
              rangelength: [0, 40]
            },
            "checkout[shipping_address][city]": {
              rangelength: [1, 30]
            }
          }
        });

        $('form').valid();*/
      });
    </script>
  </body>
</html>