{% include 'theme-variables' %}
<section id="page-wrap" class="section-wrap">
	{% include '__containers-open' %}
		<h1 class="page-header">{{ page_title }}</h1>
		{% include '__formatted-content' with page.content %}
	{% include '__containers-close' %}
</section>
<script type="text/javascript">
 $( document ).ready(function() {
    setTimeout(function(){ 
      $('#products_on_auction').find('a').attr('target','_top');
    }, 2000);
  });
</script>
