{% include 'bold-product' with product, hide_action: 'break', output: 'none' %}
{% include 'theme-variables' %}
{% capture vars %}
{% assign selected_or_first_variant = product.selected_or_first_available_variant %}
{% if product.featured_image == blank %}
{% include 'image-placeholder' %}
{% else %}
{% capture image %}
{% assign featured_image = selected_or_first_variant.featured_image | default: product.featured_image %}
<img src="{{ featured_image | product_img_url: '1024x1024' }}" alt="{{ featured_image.alt }}">{% endcapture %}
{% endif %}
{% endcapture %}
{% include '__poa-tag' with product %}

<section id="product-portfolio-wrap" class="product-wrap section-wrap">
  {% include '__containers-open' %}
  <!-- images col -->
  <div class="product-images">
    <div class="row">
      <div class="col-xs-12">
        <div class="thumbnail product-main-image">
          {{ image }}
        </div>
      </div>
      {% if product.images.size > 1 %}
      {% for image in product.images | offset: 1 %}
      <div class="col-xs-12">
        <div class="thumbnail">
          {{ image.src | product_img_url: '1024x1024' | img_tag: image.alt }}
        </div>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>
  
  <div class="row">			
    <div class="col-sm-{% if product.price > 0 %}9{% else %}12{% endif %}">
      <h1 itemprop="name">{{ page_title }}</h1>
      
      {% unless settings.show-price-if-zero == blank and product.price == 0 %}
      {% if has_prices %}
				{% if price_is_poa %}
				<div class="lead product-price-poa">
				  <span>{% include '__localize' with 'POA' %}</span>
				</div>
				{% else %}
        <div class="lead product-price">
          <span class="price-field">{% include 'product-price' with selected_or_first_variant.price %}</span>
          <small class="compare-at-price text-muted"><del>{% include '__localize' with 'was' %} <span class="compare-at-price-field"></span></del></small>
          <span class="label label-sale" style="display: none;">{% include '__localize' with 'On sale' %}</span>
        </div>
        {% endif %}
      {% endif %}
      {% endunless %}
        
      {% include '__formatted-content' with product.description %}

      {% include 'product-specs' %}
    </div>
      
    {% if product.price > 0 %}  
    <div class="col-sm-3">
      {% include 'product-add-to-cart-form' %}
    </div>
    {% endif %}
    
    {% include 'product-vendor-description' %}
  </div>
  {% include '__containers-close' %}
</section>

{% include 'product-footer' %}