{% include 'bold-product' with product, hide_action: 'break', output: 'none' %}
{% include 'theme-variables' %}

{% include 'product-page' %}

{% include 'product-vendor-description' %}

{% include 'product-footer' %}